
<div class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="widget">
         
         
            <a href="index.html">
            <img src="images/Samprapthiedited.png" alt="description_of_image" class="img-fluid" style="width:70px; height: 70px;"></a>
            <h3>Samprapthi Properties <br>Private Limited</h3>
            <address>3rd floor # 5-109/3/B/1, <br>Jubilee Hills Road,<br> opp. J R C, Rai Durg, 500033</address>
            <ul class="list-unstyled links">
              <li><a href="tel://11234567890"></a>+91 90009 12999</li>
          
           
              <li>
                <a href="mailto:info@mydomain.com">support@samprapthi.com</a>
              </li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="widget">
            <h3>Sources</h3>
            <ul class="list-unstyled float-start links">
              <li><a href="properties.html">Properties</a></li>
              <li><a href="about.html">About us</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="about.html">Vision</a></li>
              <li><a href="about.html">Mission</a></li>
             
            </ul>
            <ul class="list-unstyled float-start links">
        
              <li><a href="careers.html">Careers</a></li>
              <li><a href="terms.html">Terms</a></li>
              <li><a href="privacy.html">Privacy</a></li>
              <li><a href="faqs.html">FAQ's</a></li>
              <li><a href="contact.html">Contact</a></li>
      
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="widget">
            <h3>Links</h3>
           

            <ul class="list-unstyled social">
              <li>
                <a href=" https://www.instagram.com/samprapthi_properties/" target="_blank"><span class="icon-instagram"></span></a>
              </li>
              <li>
                <a href="https://x.com/samprapthi" target="_blank"><span class="icon-twitter"></span></a>
              </li>
              <li>
                <a href="https://www.facebook.com/profile.php?id=61564011341486" target="_blank"><span class="icon-facebook"></span></a>
              </li>
              <li>
                <a href=" https://www.linkedin.com/in/samprapthi-properties/" target="_blank"><span class="icon-linkedin" ></span></a>
              </li>
              <li>
                <a href=" https://www.youtube.com/@SamprapthiProperties" target="_blank"><span class="icon-youtube" ></span></a>
              </li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->

      <div class="row mt-5">
        <div class="col-12 text-center">
        

          <p>       <a href="https://vardhanworld.com/" target="_blank">VardanWorld</a>
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            . All Rights Reserved.
          
          </p>
     
        </div>
      </div>
    </div>
  </div>
  <!-- /.site-footer -->