<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="icon" type="image/png" sizes="32x32" href="../../public/images/favicon-32x32.png">

    <meta name="description" content=" Beautiful landscapes and serene environments.">
    <meta name="keywords" content="Scenic Views">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../public/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="../../public/fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="../../public/css/tiny-slider.css" />
    <link rel="stylesheet" href="../../public/css/aos.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />

    <title>
      High-End Finishes: Premium materials and superior craftsmanship.
    </title>
   
    <meta name="description" content=" Beautiful landscapes and serene environments.">
    <meta name="keywords" content="Scenic Views">
  </head>

