<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <nav class="site-nav">
    <div class="container">
      <div class="menu-bg-wrap">
        <div class="site-navigation">
          <a href="home.html">
            <img src="../../public/images/SamprapthiWO.png" alt="description_of_image" style="width:120px; height: 120px;">
          </a>

          <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu ">
            <li class="active"><a href="home">Home</a></li>
            <li class=" ">
              <a href="properties">Properties</a>
          
            </li>
            <li><a href="services">Services</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li><a href="tel:+911234567890">+919000912999</a></li>

          </ul>

        
          <a
            href="#"
            class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
            data-toggle="collapse"
            data-target="#main-navbar"
          >
            <span></span>
          </a>
        </div>
      </div>
    </div>
  </nav>