<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <div
      class="hero page-inner overlay"
      style="background-image: url('../../public/images/hero_bg_3.jpg')"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">About
               </h1>
               <h6 class="fs-4 p-0 text-white heading">At Samprapthi, we specialize in crafting premium living spaces that embody sophistication and comfort.</h6>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="home">Home</a></li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  About
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="section pt-5 pb-0">
      <div class="container">
        <div class="row text-left mb-5">
          <div class="col-12">
            <h2 class="font-weight-bold heading text-primary mb-4">About Us</h2>
          </div>
          <div class="col-lg-6">
            <p class="text-black-50">
              Redefining Luxury Living with Innovation and Trust
              At Samprapthi, we believe that your home should be more than just a place to live—it should be a reflection of your aspirations, a sanctuary where luxury meets comfort. Established in the heart of Hyderabad, we specialize in crafting premium residential spaces that embody modern elegance and timeless quality.
              
           
             
            
              
            </p>
            <p class="text-black-50">
              Since our inception, we have been on a mission to redefine urban living by offering meticulously designed homes that blend comfort, elegance, and state-of-the-art technology. Our projects across Hyderabad, with plans to expand to other major cities, are meticulously planned to offer not just a living space but a lifestyle.
            </p>
            <p class="text-black-50">
              Our distinction lies in our comprehensive and visionary approach to real estate. We go beyond the conventional by integrating cutting-edge technology, customer-centric services, and sustainable practices to deliver homes that are crafted to perfection. From the first blueprint to the final finishing touches, our focus remains on exceeding the expectations of our clients, ensuring that each Samprapthi home is a masterpiece of design and functionality.
            </p>
            <p class="text-black-50">
              With a team of seasoned professionals and a portfolio that reflects our dedication to quality, we have garnered the trust of countless families who now call a Samprapthi property their home. We are more than just a real estate developer; we are your partner in the journey to finding a home that mirrors your dreams.
            </p>
            <p class="text-black-50">
              Experience the future of luxury living with Samprapthi—where every detail is designed with you in mind.
            </p>
          </div>
          <div class="col-lg-6">
           
              <div class="img-about dots">
                <img src="../../public/images/highrise_About.jpg" alt="Image" style="width: 500px;"   class="img-fluid" />
              </div>
          
          </div>
        </div>
      </div>
    </div>

    <!-- visson and Misson -->
    <div class="section p-0">
      <div class="container">
        <div class="row text-left mb-5">
          <div class="col-12 col-lg-6">
            <h2 class="font-weight-bold heading text-primary mb-4">Vission</h2>
            <p class="text-black-50">
              At Samprapthi, we envision a future where luxury living is accessible, personalized, and harmonious with the environment. We strive to transform the real estate landscape by crafting premium spaces that not only elevate lifestyles but also foster a sense of community and well-being. Our goal is to be the leading force in creating sustainable, innovative, and aesthetically inspiring homes that reflect the dreams and aspirations of modern homeowners.	
            </p>
          </div>
         
       
          <div class="col-12 col-lg-6">
            <h2 class="font-weight-bold heading text-primary mb-4">Mission</h2>
            <p class="text-black-50">
              Our mission is to redefine urban living by offering meticulously designed homes that blend comfort, elegance, and state-of-the-art technology. We are committed to delivering unparalleled quality and value, ensuring that each project we undertake not only meets but exceeds the expectations of our clients. Through innovation, transparency, and a customer-centric approach, we aim to set new standards of excellence in the real estate industry, making Samprapthi synonymous with trust and luxury.
            </p>
          
          </div>
        </div>
      </div>
    </div>
     <!-- vission and Misson End -->

    <div class="section pt-0">
      <div class="container">
        <div class="row justify-content-between mb-5">
          <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
            <div class="img-about dots">
              <img src="../../public/images/highrise2_About.jpg" alt="Image" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Luxury</h3>
                <p class="text-black-50">
                  <ul>
                    <li>High-End Finishes: Premium materials and superior craftsmanship.</li>
                    <li>Spacious Interiors: Generously sized rooms and open layouts.</li>
                    <li>Exclusive Designs: Modern architecture and stylish decor.</li>
                   </ul>
                </p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Location</h3>
                <p class="text-black-50">
                  <ul>
                    <li>Prime Location: Strategically situated in desirable areas.</li>
                    <li>Proximity to Amenities: Close to schools, hospitals, shopping centers, and entertainment hubs.</li>
                    <li>Scenic Views: Beautiful landscapes and serene environments.</li>
                   </ul>
                </p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Amenities</h3>
                <p class="text-black-50">
                 <ul>
                  <li>Clubhouse: A fully equipped clubhouse for social and recreational activities.</li>
                  <li>Fitness Center: State-of-the-art gym with modern equipment.</li>
                  <li>Security: 24/7 surveillance and secure premises.</li>
                  <li>Community Spaces: Multipurpose halls and community gathering areas.</li>
                  <li>Green Spaces: Lush gardens and parks for a tranquil living experience.</li>



                 </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section pt-0">
      <div class="container">
        <div class="row justify-content-between mb-5">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="img-about dots">
              <img src="images/highrise3_About.jpg" alt="Image" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Sustainability</h3>
                <p class="text-black-50">
                  <ul>
                    <li>Eco-Friendly Construction: Use of sustainable materials and practices.</li>
                    <li>Energy Efficiency: Solar panels, energy-efficient lighting, and appliances.</li>
                    <li>Water Conservation: Rainwater harvesting and water recycling systems.</li>
                   </ul>
                </p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Customer Experience</h3>
                <p class="text-black-50">
                  <ul>
                    <li>Personalized Service: Dedicated customer support and personalized buying experiences.</li>
                    <li>Transparency: Clear and honest communication throughout the buying process.</li>
                    <li>After-Sales Support: Comprehensive support services after purchase.</li>
                   </ul>
                </p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Value for Money</h3>
                <ul>
                  <li>Competitive Pricing: Attractive pricing for premium quality.</li>
                  <li>Flexible Payment Plans: Convenient payment options to suit various financial needs.</li>
                  <li>High Return on Investment: Properties that offer good appreciation potential.</li>
                 </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- our leaaders -->
<!-- <div class="section section-5 bg-light">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-lg-6">
        <h2 class="font-weight-bold heading text-primary mb-4">
          Our Leaders
        </h2>
        <p class="text-black-50">
       
        </p>
      </div>
    </div>
    <div class="album ">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          
          <div class="col">
            <div class="card shadow-sm">
              <img
              src="images/PHOTO-2024-08-22-15-24-51-removebg-preview.png" style="height: 412px;"
              alt="Image"
              class="img-fluid"
            />
              <div class="card-body">
                <h2 class="mb-0"><a href="https://www.linkedin.com/in/venkatesh-katakam-62aa3960/" target="_blank">Venkatesh Katakam</a></h2>
                <p class="text-black-50">Director of Sales, Samprapthi Properties</p>
     
                <p class="card-text">  With over 14 years of extensive experience in real estate sales, Mr. Venkatesh Katakam has been a key player in Hyderabad's real estate market. Having collaborated with top builders, he has successfully guided more than 10,000 buyers in finding their dream homes. His deep understanding of the market, combined with his commitment to customer satisfaction, makes him an invaluable leader at Samprapthi Properties.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <h2 class="fs-4"> To Know More</h2>
                  <ul class="social list-unstyled list-inline dark-hover">
                   
                    <li class="list-inline-item mt-3">
                      <a href="https://www.linkedin.com/in/venkatesh-katakam-62aa3960/" target="_blank"><span class="icon-linkedin"></span></a>
                    </li>
               
                  </ul>
     
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img
              src="images/1721061103070.jpg"
              alt="Image"
              class="img-fluid"
            />
              <div class="card-body">
                <h2 class="mb-0"><a href="https://www.linkedin.com/in/prasad-kumar-voola-8956b118/" target="_blank">Prasad Kumar Voola</a></h2>
                <p class="text-black-50">Director - Samprapthi Properties Private Limited </p>
                <p class="card-text">  Prasad Kumar Voola is a seasoned professional with 15 years of extensive experience in Private Equity Operations. He specializes in Investor onboarding, Transition, and Team Management, bringing hands-on expertise with major systems such as Intralinks, World Check, Efront, and Salesforce.<br><br> Prasad's deep knowledge and experience in process migration and transitions make him a valuable asset.</p>
                
                  <div class="d-flex justify-content-between align-items-center">
                    <h2 class="fs-4"> To Know More</h2>
                    <ul class="social list-unstyled list-inline dark-hover">
                     
                      <li class="list-inline-item mt-3">
                        <a href="https://www.linkedin.com/in/prasad-kumar-voola-8956b118/" target="_blank"><span class="icon-linkedin"></span></a>
                      </li>
                 
                    </ul>
       
                  </div>
         
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img
                src="images/1666164027354.jpg"
                alt="Image"
                class="img-fluid"
              />
          
                <div class="card-body">
                  <h2 class="mb-0">
                    <a href="https://www.linkedin.com/in/harsha-vardhan-jain-18594461/" target="_blank">Harshavardhan Jain</a>
                </h2>
                <p class="text-black-50">Director</p>
                  <p class="card-text">A dynamic entrepreneur and business consultant, Harshavardhan Jain is passionate about driving growth and innovation. With extensive experience in sales strategy, startup mentorship, and brand development, he brings a wealth of knowledge to the real estate industry. Whether it's guiding budding entrepreneurs or crafting compelling content strategies, Harshavardhan is dedicated to delivering results and inspiring success.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <h2 class="fs-4"> To Know More</h2>
                    <ul class="social list-unstyled list-inline dark-hover">
                     
                      <li class="list-inline-item mt-3">
                        <a href="https://www.linkedin.com/in/harsha-vardhan-jain-18594461/" target="_blank"><span class="icon-linkedin"></span></a>
                      </li>
                 
                    </ul>
       
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
  </div>
</div> -->

<footer>
    <%- include('../partials/footer'); %>
</footer>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="../../public/js/bootstrap.bundle.min.js"></script>
<script src="../../public/js/tiny-slider.js"></script>
<script src="../../public/js/aos.js"></script>
<script src="../../public/js/navbar.js"></script>
<script src="../../public/js/counter.js"></script>
<script src="../../public/js/style.js"></script>
</body>
</html>