<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
            <main>
                <div class="hero">
                    <div class="hero-slide">
                      <div
                        class="img overlay"
                        style="background-image: url('../../public/images/hero_bg_3.jpg')"
                      ></div>
                      <div
                        class="img overlay"
                        style="background-image: url('../../public/images/hero_bg_2.jpg')"
                      ></div>
                      <div
                        class="img overlay"
                        style="background-image: url('../../public/images/hero_bg_1.jpg')"
                      ></div>
                    </div>
              
                    <div class="container">
                      <div class="row justify-content-center align-items-center">
                        <div class="col-lg-9 text-center">
                          <h1 class="heading" data-aos="fade-up">
                            &quot;Experience the Pinnacle of Living&quot;
                            <br>&quot;Your Future, Our Priority&quot;
                          </h1>
                
                        </div>
                      </div>
                    </div>
                  </div>
              
                <!-- start -->
                  <div class="section">
                    <div class="container">
                      <div class="row mb-5 align-items-center">
                        <div class="col-lg-6">
                          <h2 class="font-weight-bold text-primary heading">
                            Popular Properties
                          </h2>
                        </div>
                        <div class="col-lg-6 text-lg-end">
                          <p>
                            <a
                              href="properties"
                              class="btn btn-primary text-white py-3 px-4"
                              >View all properties</a
                            >
                          </p>
                        </div>
                      </div>
                      <!-- Property 1 -->
                      <div class="row">
                        <div class="col-12">
                          <div class="property-slider-wrap">
                            <div class="property-slider">
                              <div class="property-item">
                              
                                  <img src="../../public/images/img1.jpg" alt=" Godrej Builder Image" style="width: 411px; height: 411px;" class="img-fluid" />
                                <div class="property-content" style="width: 411px; height: 274px;">
                                  <div class="price mb-2"><span>Godrej Properties</span></div>
                                  <div>
                                    <span class="d-block mb-2 text-black-50"
                                      >A leader in the Real Estate industry</span
                                    >
                                    <span class="city d-block mb-3">Mumbai, Pune, Bengaluru, Delhi NCR, and Hyderabad</span>
                                    <a
                      href="#"
                      class="btn btn-primary py-2 px-3 see-details-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#buyPropertyModal"
                      data-redirect-url="godrejProperties.html" 
                    >
                      See details
                    </a>
                                  </div>
                                </div>
                              </div>
                              <!-- .item 2-->
              
                              <div class="property-item">
                                  <img src="../../public/images/highrise2.jpg" alt="Brigade Group Image" style="width: 411px; height: 411px;" class="img-fluid" />
                             
                               
              
                                <div class="property-content">
                                  <div class="price mb-2"><span>Brigade Group</span></div>
                                  <div>
                                    <span class="d-block mb-2 text-black-50"
                                      >A trusted name in Indian Real Estate</span
                                    >
                                    <span class="city d-block mb-3">Bengaluru, Hyderabad, Chennai, and Kochi, among other southern cities.</span>
                                    <a
                                    href="#"
                                    class="btn btn-primary py-2 px-3 see-details-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#buyPropertyModal"
                                    data-redirect-url="brigadeProperties.html" 
                                  >
                                    See details
                                  </a>
                                  </div>
                                </div>
                              </div>
                              <!-- .item -->
              
                              <div class="property-item">
                              
                                  <img src="../../public/images/img2.jpg" alt="ASBL Builders Image" style="width: 411px; height: 411px;" class="img-fluid" />
                               
                               
              
                                <div class="property-content" style="width: 411px; height: 274px;">
                                  <div class="price mb-2"><span>ASBL (Asian Builders and Lifestyle)</span></div>
                                  <div>
                                    <span class="d-block mb-2 text-black-50"
                                      >Real Estate market by offering contemporary living spaces with a focus on community and wellness</span
                                    >
                                    <span class="city d-block mb-3">Hyderabad</span>
                                    <a
                                    href="#"
                                    class="btn btn-primary py-2 px-3 see-details-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#buyPropertyModal"
                                    data-redirect-url="asblProperties.html" 
                                  >
                                    See details
                                  </a>
                                  </div>
                                </div>
                              </div>
                              <!-- .item -->
              
                              <div class="property-item">
                                  <img src="../../public/images/img3.jpg" alt="Image" style="width: 411px; height: 411px;" class="img-fluid" />
                                <div class="property-content" style="width: 411px; height: 274px;">
                                  <div class="price mb-2"><span>Prestige Group</span></div>
                                  <div>
                                    <span class="d-block mb-2 text-black-50"
                                      >This esteemed real estate developer delivers a range of high-quality residential, commercial, and retail spaces known for luxury and functionality.</span
                                    >
                                    <span class="city d-block mb-3">Bengaluru, Chennai, Hyderabad, and Mangaluru</span>
                                    <a
                                    href="#"
                                    class="btn btn-primary py-2 px-3 see-details-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#buyPropertyModal"
                                    data-redirect-url="prestigeProperties.html" 
                                  >
                                    See details
                                  </a>
                                  </div>
                                </div>
                              </div>
                              <!-- .item -->
              
                              <div class="property-item">
                                  <img src="../../public/images/img7.jpg" alt="Image" style="width: 411px; height: 411px;"  class="img-fluid" />
                                <div class="property-content" style="width: 411px; height: 274px;">
                                  <div class="price mb-2"><span>Candeur 40</span></div>
                                  <div>
                                    <span class="d-block mb-2 text-black-50"
                                      >Created for modern families and professionals, Candeur 40 offers stylish, spacious apartments that promote luxury and comfort.</span
                                    >
                                    <span class="city d-block mb-3">Bengaluru</span>
                                    <a
                                    href="#"
                                    class="btn btn-primary py-2 px-3 see-details-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#buyPropertyModal"
                                    data-redirect-url="candeur40.html" 
                                  >
                                    See details
                                  </a>
                                  </div>
                                </div>
                              </div>
                              <!-- .item -->
              
                              <div class="property-item">
                                  <img src="../../public/images/img5.jpg" alt="Image"  style="width: 411px; height: 411px;"  class="img-fluid" />
                                <div class="property-content" style="width: 411px; height: 274px;">
                                  <div class="price mb-2"><span> Acasa</span></div>
                                  <div>
                                    <span class="d-block mb-2 text-black-50"
                                      >Acasa is a residential property concept designed for modern living with a focus on luxury and lifestyle. </span
                                    >
                                    <span class="city d-block mb-3">Hyderabad</span>
              
                                    <a
                                    href="#"
                                    class="btn btn-primary py-2 px-3 see-details-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#buyPropertyModal"
                                    data-redirect-url="acasaProperties.html" 
                                  >
                                    See details
                                  </a>
                                  </div>
                                </div>
                              </div>
                            </div>
              <!-- modal and Script -->
              <div class="custom-modal modal fade" id="buyPropertyModal" tabindex="-1" aria-labelledby="buyPropertyModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title py-3 fs-4" id="buyPropertyModalLabel">Buy Property</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form id="buyPropertyForm" class="needs-validation" novalidate onsubmit="return validateFormAndRecaptcha();">
                        <div class="form-group">
                          <label for="name" class="fs-5">First Name</label>
                          <input type="text" class="form-control" id="name" required>
                          <div class="invalid-feedback">Please enter your name.</div>
                        </div>
                        <div class="form-group">
                          <label for="email" class="fs-5">Email</label>
                          <input type="email" class="form-control" id="email" required>
                          <div class="invalid-feedback">Please enter a valid email.</div>
                        </div>
                        <div class="form-group">
                          <label for="phone" class="fs-5">Phone</label>
                          <input type="tel" class="form-control" id="phone_number" required>
                          <div class="invalid-feedback">Please enter your phone number.</div>
                        </div>
                        <div class="form-group">
                          <label for="message" class="fs-5">Message</label>
                          <textarea class="form-control" id="message" rows="3" required></textarea>
                          <div class="invalid-feedback">Please enter a message.</div>
                        </div>
                        
                        <div class="g-recaptcha" data-sitekey="6Letn3kqAAAAAExV9wsEXa3LpIza6Rg2rcaj3KlP"></div>
                        <br/>
                        <div id="recaptchaError" style="color: red; margin-top: 8px;"></div>
              
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
               <!-- modal  end -->
                            <div
                              id="property-nav"
                              class="controls"
                              tabindex="0"
                              aria-label="Carousel Navigation"
                            >
                              <span
                                class="prev"
                                data-controls="prev"
                                aria-controls="property"
                                tabindex="-1"
                                >Prev</span
                              >
                              <span
                                class="next"
                                data-controls="next"
                                aria-controls="property"
                                tabindex="-1"
                                >Next</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                         
              
                  <section class="features-1">
                    <div class="container">
                      <div class="row mb-5 align-items-center">
                        <div class="col-lg-12">
                          <h2 class="font-weight-bold text-primary heading">
                           Our Services
                          </h2>
                          <p class="text-start">At Samprapthi, we redefine property dealing with a commitment to excellence and innovation. Specializing in Hyderabad’s real estate market, we offer a range of high-quality properties tailored to your needs. Our top-rated agents provide personalized guidance, while our sustainable living practices ensure environmentally-friendly choices. </p>
                        </div>
                     
                        </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                          <div class="box-feature">
                            <span class="flaticon-house"></span>
                            <h3 class="mb-3">Our Properties</h3>
                            <p>
                              Samprapthi offers top-tier properties in Hyderabad, crafted with excellence in mind. As we grow, our commitment to quality will extend to more cities across India.
                          
                              
                            </p>
                            <p><a href="about" class="learn-more">Read More</a></p>
                          </div>
                        </div>
                        <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-delay="500">
                          <div class="box-feature">
                            <span class="flaticon-building"></span>
                            <h3 class="mb-3">Property for Sale</h3>
                            <p>
                              Explore a wide range of verified properties for sale in Hyderabad. We ensure quality and value in every listing, with plans to<br>extend our offerings<br> nationwide.
                            </p>
                            <p><a href="properties" class="learn-more">Read More</a></p>
                          </div>
                        </div>
                        <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-delay="400">
                          <div class="box-feature">
                            <span class="flaticon-house-3"></span>
                            <h3 class="mb-3">Smart Investment Solutions</h3>
                            <p>
                              Samprapthi offers smart investment solutions tailored to your financial goals.We provide expert guidance<br> and access to high-potential properties.
                            </p>
                            <p><a href="contact" class="learn-more">Read More</a></p>
                          </div>
                        </div>
                        <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-delay="600">
                          <div class="box-feature">
                            <span class="flaticon-house-1"></span>
                            <h3 class="mb-3">House for Sale</h3>
                            <p>
                              Find your perfect house in Hyderabad, whether you're looking for a cozy starter home or a luxurious residence. Our growing portfolio will soon cover more cities.
                            </p>
                            <p><a href="properties" class="learn-more">Read More</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
              <!-- sucess action -->
              <div class="container">
                <div class="row mb-5 align-items-center pt-5">
                  <div class="col-lg-12">
                    <h2 class="font-weight-bold text-primary heading text-center">
                      Achieving Success: From Process to Project
                    </h2>
                    <p class="text-center fs-4">Pathway to Your Dream Home </p>
                  </div>
                  </div>
                    <!-- Row of 12 Images -->
                <div class="row">
                  <!-- Repeat this for each image -->
                  <div class="col">
                    <img src="../../public/images/Make It Yours.png" class="img-fluid" alt="Image 1">
                  </div>
                  <div class="col text-center d-flex align-items-center justify-content-center">
                    <img src="../../public/images/right-arrow.png" class="img-fluid" alt="Image 3">
                  </div>
                  
                  <div class="col">
                    <img src="../../public/images/Experience the Property.png" class="img-fluid" alt="Image 3">
                  </div>
                  <div class="col text-center d-flex align-items-center justify-content-center">
                    <img src="../../public/images/right-arrow.png" class="img-fluid" alt="Image 3">
                  </div>
                  <div class="col">
                    <img src="../../public/images/Explore Our Properties.png" class="img-fluid" alt="Image 5">
                  </div>
                  <div class="col text-center d-flex align-items-center justify-content-center">
                    <img src="../../public/images/right-arrow.png" class="img-fluid" alt="Image 3">
                  </div>
                  <div class="col">
                    <img src="../../public/images/Continued Support.png" class="img-fluid" alt="Image 7">
                  </div>
                  <div class="col text-center d-flex align-items-center justify-content-center">
                    <img src="../../public/images/right-arrow.png" class="img-fluid" alt="Image 3">
                  </div>
                  <div class="col">
                    <img src="../../public/images/Simplify Financing.png" class="img-fluid" alt="Image 9">
                  </div>
                  <div class="col text-center d-flex align-items-center justify-content-center">
                    <img src="../../public/images/right-arrow.png" class="img-fluid" alt="Image 3">
                  </div>
                  <div class="col">
                    <img src="../../public/images/Connect with Us.png" class="img-fluid" alt="Image 11">
                  </div>
                  <!-- <div class="col">
                    <img src="" class="img-fluid" alt="Image 12">
                  </div> -->
                </div>
              </div>
                </div>
                
               <!-- end -->
                <!-- CTA -->
                <div class="section">
                  <div class="row justify-content-center footer-cta" data-aos="fade-up">
                    <div class="col-lg-7 mx-auto text-center">
                      <h2 class="">Find Your Perfect Home Today</h2>
                      <p class="fs-4 text-center">Explore Our Latest Listings and Discover Your Dream Property</p>
                      <p>
                        
                        <a
                      href="#"
                      class="btn btn-primary py-2 px-3 see-details-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#buyPropertyModal">
                    Get Quote
                    </a>
                      </p>
                  </div>
                </div>
                
                 <!-- Cta End -->
                  <div class="section sec-testimonials">
                    <div class="container">
                      <div class="row mb-5 align-items-center">
                        <div class="col-md-6">
                          <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">
                            Testimonials
                          </h2>
                        </div>
                        <div class="col-md-6 text-md-end">
                          <div id="testimonial-nav">
                            <span class="prev" data-controls="prev">Prev</span>
              
                            <span class="next" data-controls="next">Next</span>
                          </div>
                        </div>
                      </div>
              
                      <div class="row">
                        <div class="col-lg-4"></div>
                      </div>
                      <div class="testimonial-slider-wrap">
                        <div class="testimonial-slider">
                          <div class="item">
                            <div class="testimonial">
                              <img
                                src="../../public/images/2289_SkVNQSBGQU1PIDEwMjgtMTIx.jpg"
                                alt="Image"
                                class="img-fluid rounded-circle w-25 mb-4"
                              />
                              <div class="rate">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                              </div>
                              <h3 class="h5 text-primary mb-4">Nalin Kumar</h3>
                              <blockquote>
                                <p>
                                  From the moment I discovered Samprapthi, I felt confident in my home-buying journey. The team was incredibly knowledgeable, guiding me through every step and ensuring I found the perfect home that matched my needs and budget. Their expertise and dedication made the process seamless and stress-free.
                                </p>
                              </blockquote>
                              <p class="text-black-50">Investment Banker</p>
                            </div>
                          </div>
              
                          <div class="item">
                            <div class="testimonial">
                              <img
                                src="../../public/images/2289_SkVNQSBGQU1PIDEwMjgtMTIy.jpg"
                                alt="Image"
                                class="img-fluid rounded-circle w-25 mb-4"
                              />
                              <div class="rate">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                              </div>
                              <h3 class="h5 text-primary mb-4">Vishnu A</h3>
                              <blockquote>
                                <p>
                                  Samprapthi stands out in the real estate market with their unmatched professionalism and commitment to clients. The team was always available to answer my questions and provided valuable insights that helped me make informed decisions. I am thrilled with my new home and grateful for their exceptional service.
                                </p>
                              </blockquote>
                              <p class="text-black-50">Entrepreneur</p>
                            </div>
                          </div>
              
                          <div class="item">
                            <div class="testimonial">
                              <img
                                src="../../public/images/vecteezy_man-avatar-vector-icon_6487917.jpg"
                                alt="Image"
                                class="img-fluid rounded-circle w-25 mb-4"
                              />
                              <div class="rate">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                              </div>
                              <h3 class="h5 text-primary mb-4">Vinod Kumar</h3>
                              <blockquote>
                                <p>
                                  The team at Samprapthi truly cares about their clients. Their personalized approach and attention to detail made all the difference. They took the time to understand my preferences and found a property that exceeded my expectations. I couldn't be happier with my purchase and the overall experience.
                                </p>
                              </blockquote>
                              <p class="text-black-50">Corporate Lawyer</p>
                            </div>
                          </div>
              
                          <div class="item">
                            <div class="testimonial">
                              <img
                                src="../../public/images/2289_SkVNQSBGQU1PIDEwMjgtMTEy.jpg"
                                alt="Image"
                                class="img-fluid rounded-circle w-25 mb-4"
                              />
                              <div class="rate">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                              </div>
                              <h3 class="h5 text-primary mb-4">Sunita M</h3>
                              <blockquote>
                                <p>
                                  We had a fantastic experience with Samprapthi. Their commitment to excellence and attention to detail were evident throughout the entire process. Mr. Ravi, our point of contact, was incredibly responsive and ensured that all our needs were met promptly. The team's dedication to providing a smooth and hassle-free experience was commendable. 
                                </p>
                              </blockquote>
                              <p class="text-black-50">Managing Director</p>
                            </div>
                          </div>
                          <!-- 5th testimonial -->
                          <div class="item">
                            <div class="testimonial">
                              <img
                                src="../../public/images//vecteezy_man-avatar-vector-icon_6487917.jpg"
                                alt="Image"
                                class="img-fluid rounded-circle w-25 mb-4"
                              />
                              <div class="rate">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                              </div>
                              <h3 class="h5 text-primary mb-4">Krishna Kumar</h3>
                              <blockquote>
                                <p>
                                  Samprapthi isn’t just about selling homes—they build relationships. Their transparency and commitment to client satisfaction made all the difference. My new home is exactly what I wanted, thanks to their dedicated team.
                                </p>
                              </blockquote>
                              <p class="text-black-50">Chief Technology Officer</p>
                            </div>
                          </div>
                          <!--6th  -->
                          <div class="item">
                            <div class="testimonial">
                              <img
                                src="../../public/images/2289_SkVNQSBGQU1PIDEwMjgtMTE1.jpg"
                                alt="Image"
                                class="img-fluid rounded-circle w-25 mb-4"
                              />
                              <div class="rate">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                              </div>
                              <h3 class="h5 text-primary mb-4">Priyanka M</h3>
                              <blockquote>
                                <p>
                                  Samprapthi redefines customer service in real estate. They guided me with personalized advice every step of the way. Thanks to them, I now own a home that’s perfect for my family.
                                </p>
                              </blockquote>
                              <p class="text-black-50">Home Maker</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              
                 
              
                  
              
                  <!-- <div class="section section-5 bg-light">
                    <div class="container">
                      <div class="row justify-content-center text-center mb-5">
                        <div class="col-lg-6">
                          <h2 class="font-weight-bold heading text-primary mb-4">
                            Our Leaders
                          </h2>
                          <p class="text-black-50">
                        
                          </p>
                        </div>
                      </div>
                      <div class="album ">
                        <div class="container">
                    
                          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            
                            <div class="col">
                              <div class="card shadow-sm">
                                <img
                                src="../../public/images/PHOTO-2024-08-22-15-24-51-removebg-preview.png" style="height: 412px;"
                                alt="Image"
                                class="img-fluid"
                              />
                                <div class="card-body">
                                  <h2 class="mb-0"><a href="https://www.linkedin.com/in/venkatesh-katakam-62aa3960/" target="_blank">Venkatesh Katakam</a></h2>
                                  <p class="text-black-50">Director of Sales, Samprapthi Properties</p>
                       
                                  <p class="card-text">  With over 14 years of extensive experience in real estate sales, Mr. Venkatesh Katakam has been a key player in Hyderabad's real estate market. Having collaborated with top builders, he has successfully guided more than 10,000 buyers in finding their dream homes. His deep understanding of the market, combined with his commitment to customer satisfaction, makes him an invaluable leader at Samprapthi Properties.</p>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <h2 class="fs-4"> To Know More</h2>
                                    <ul class="social list-unstyled list-inline dark-hover">
                                     
                                      <li class="list-inline-item mt-3">
                                        <a href="https://www.linkedin.com/in/venkatesh-katakam-62aa3960/" target="_blank"><span class="icon-linkedin"></span></a>
                                      </li>
                                 
                                    </ul>
                       
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card shadow-sm">
                                <img
                                src="../../public/images/1721061103070.jpg"
                                alt="Image"
                                class="img-fluid"
                              />
                                <div class="card-body">
                                  <h2 class="mb-0"><a href="https://www.linkedin.com/in/prasad-kumar-voola-8956b118/" target="_blank">Prasad Kumar Voola</a></h2>
                                  <p class="text-black-50">Director - Samprapthi Properties Private Limited </p>
                                  <p class="card-text">  Prasad Kumar Voola is a seasoned professional with 15 years of extensive experience in Private Equity Operations. He specializes in Investor onboarding, Transition, and Team Management, bringing hands-on expertise with major systems such as Intralinks, World Check, Efront, and Salesforce.<br><br> Prasad's deep knowledge and experience in process migration and transitions make him a valuable asset.</p>
                                  
                                    <div class="d-flex justify-content-between align-items-center">
                                      <h2 class="fs-4"> To Know More</h2>
                                      <ul class="social list-unstyled list-inline dark-hover">
                                       
                                        <li class="list-inline-item mt-3">
                                          <a href="https://www.linkedin.com/in/prasad-kumar-voola-8956b118/" target="_blank"><span class="icon-linkedin"></span></a>
                                        </li>
                                   
                                      </ul>
                         
                                    </div>
                           
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="card shadow-sm">
                                  <img
                                  src="../../public/images/1666164027354.jpg"
                                  alt="Image"
                                  class="img-fluid"
                                />
                            
                                  <div class="card-body">
                                    <h2 class="mb-0">
                                      <a href="https://www.linkedin.com/in/harsha-vardhan-jain-18594461/" target="_blank">Harshavardhan Jain</a>
                                  </h2>
                                  <p class="text-black-50">Director</p>
                                    <p class="card-text">A dynamic entrepreneur and business consultant, Harshavardhan Jain is passionate about driving growth and innovation. With extensive experience in sales strategy, startup mentorship, and brand development, he brings a wealth of knowledge to the real estate industry. Whether it's guiding budding entrepreneurs or crafting compelling content strategies, Harshavardhan is dedicated to delivering results and inspiring success.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <h2 class="fs-4"> To Know More</h2>
                                      <ul class="social list-unstyled list-inline dark-hover">
                                       
                                        <li class="list-inline-item mt-3">
                                          <a href="https://www.linkedin.com/in/harsha-vardhan-jain-18594461/" target="_blank"><span class="icon-linkedin"></span></a>
                                        </li>
                                   
                                      </ul>
                         
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            
                    
                      
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  -->
           
           

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
             <!-- Include jQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://www.google.com/recaptcha/api.js" async defer></script>

 <script>
   (function () {
     'use strict';
    
     $('#contactForm, #buyPropertyForm').on('submit', function (event) {
       if (!this.checkValidity()) {
         event.preventDefault();
         event.stopPropagation();
       }
       this.classList.add('was-validated');
     });
   })();
 </script>
 
 <script>
   function handleFormSubmission(formId, recaptchaErrorId) {
     $(formId).on('submit', function (e) {
       e.preventDefault();
 
      
       const recaptchaResponse = grecaptcha.getResponse();
       if (recaptchaResponse.length === 0) {
         $(recaptchaErrorId).text('Please complete the reCAPTCHA.');
         return;
       } else {
         $(recaptchaErrorId).text('');
       }
 
       
       const formData = {
         name: $(`${formId} #name`).val(),
         email: $(`${formId} #email`).val(),
         phone_number: $(`${formId} #phone_number`).val(),
         subject: $(`${formId} #subject`).val(),
         message: $(`${formId} #message`).val(),
         'g-recaptcha-response': recaptchaResponse,
       };
 
      
       $.ajax({
         url: 'http://20.81.241.11:3000/api/send-inquiry',
         type: 'POST',
         contentType: 'application/json',
         data: JSON.stringify(formData),
         success: function (data) {
           alert('Message sent successfully!');
           $(formId)[0].reset();
           grecaptcha.reset();
         },
         error: function (jqXHR, textStatus, errorThrown) {
           alert('Error sending message, please try again later.');
           console.error('Error:', textStatus, errorThrown);
         },
       });
     });
   }
 

   handleFormSubmission('#contactForm', '#recaptchaError2');
   handleFormSubmission('#buyPropertyForm', '#recaptchaError');
 </script>
 <script src="https://www.google.com/recaptcha/api.js" async defer></script>
 <script src="../../public/js/bootstrap.bundle.min.js"></script>
 <script src="../../public/js/tiny-slider.js"></script>
 <script src="../../public/js/aos.js"></script>
 <script src="../../public/js/navbar.js"></script>
 <script src="../../public/js/counter.js"></script>
 <script src="../../public/js/style.js"></script>
 
    </body>
</html>