<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
 
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    

        <div class="super-heading-2 text-center bg-color text-white p-3">Privacy & Policy</div>

        <div class="container">
            
            <div class=" text-dark mt-5">
                <p class="super-heading">Introduction</p>
                <p class="mt-3 content text-dark">Welcome to Soulep! These Terms and Conditions ("Terms") govern your use of our dating app and website (collectively, the "Service"). By accessing or using our Service, you agree to be bound by these Terms. If you do not agree to these Terms, please do not use our Service.</p>
            </div>
            <div class="text-dark mt-5">
                <h1 class="super-heading ">Eligibility</h1>
                <p class="mt-3  content text-dark">By using our Service, you represent and warrant that:</p>
                <ul>
                    <li>You must be at least 18 years old.</li>
                    <li>You have the legal capacity and authority to enter into these Terms.</li>
                    <li>you will comply with all applicable laws and regulations.</li>
                </ul>
            </div>
            <div class="text-dark mt-5">
                <h2 class="super-heading">Account Registration</h2>
                <p class="mt-3 content text-dark">To use our Service, you must create an account. You agree to:</p>

                <ul class="content text-dark" >
                    <li>Provide accurate, current, and complete information during the registration process.</li>
                    <li>Maintain and promptly update your account information to keep it accurate, current, and complete.</li>
                    <li>Keep your password confidential and secure.</li>
                    <li>Notify us immediately of any unauthorized use of your account.</li>
                </ul>

                <p class="content text-dark">You are responsible for all activities that occur under your account.</p>
            </div>

            <div class="text-dark mt-5">
                <h1 class="super-heading mt-3">User Conduct</h1>
                <p  class=" content text-dark">You agree not to:</p>
                <ul class=" content text-dark">
                    <li>use the Service for any unlawful purpose or in violation of these Terms..</li>
                    <li>Harass, abuse, or harm another person, or post any content that is threatening, defamatory, obscene, or otherwise objectionable.</li>
                    <li>Impersonate any person or entity, or falsely state or otherwise misrepresent yourself or your affiliation with any person or entity</li>
                    <li>Use the Service to send unsolicited or unauthorized advertising, spam, or any other form of solicitation.</li>
                    <li>Collect or store any personal information about other users without their express permission.</li>
                    <li>Engage in any other conduct that restricts or inhibits any other person from using or enjoying the Service, or that, in our sole judgment, exposes us or any of our users, affiliates, or partners to any liability or detriment of any type.</li>
                </ul>
            </div>
            <div class="text-dark mt-5">
                <h1 class="super-heading-2">Content</h1>
                <h2 class="super-heading">Your Content</h2>
                <p class=" content ">You are solely responsible for any content that you post, upload, or otherwise make available through the Service ("User Content"). You grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use, copy, modify, create derivative works based on, distribute, and display your User Content in connection with operating and providing the Service.</p>
                <h2 class="super-heading">Our Content</h2>
                <p class=" content ">All content and materials available on the Service, including but not limited to text, graphics, logos, and software, are the property of [Dating App Name] or its licensors and are protected by copyright, trademark, and other intellectual property laws. You agree not to copy, modify, distribute, or create derivative works based on our content without our prior written permission.</p>
            </div>
            <div class="text-dark mt-5">
                <h1 class="super-heading">Termination</h1>
                <p class=" content ">We reserve the right to terminate or suspend your account and access to the Service at our sole discretion, without notice or liability, for any reason, including if you breach these Terms. Upon termination, your right to use the Service will immediately cease.</p>
            </div>
            <div class="text-dark mt-5">
                <h1 class="super-heading">Disclaimers</h1>
                <p class=" content ">The Service is provided on an "as is" and "as available" basis. We disclaim all warranties, express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, and non-infringement. We do not warrant that the Service will be uninterrupted, error-free, secure, or that any defects will be corrected..</p>
            </div>
            <div class="text-dark mt-5">
                <h1 class="super-heading">Limitation of Liability</h1>
                <p class=" content text-dark">To the fullest extent permitted by law, in no event shall [Dating App Name], its affiliates, directors, employees, or agents be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses, resulting from:</p>
                <ul class="content text-dark">
                    <li>Your use of or inability to use the service.</li>
                    <li>Any unauthorized access to or use of our servers and/or any personal information stored therein.</li>
                    <li>Any bugs, viruses, trojan horses, or the like that may be transmitted to or through our Service by any third party.</li>
                    <li>Any errors or omissions in any content or for any loss or damage incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available through the Service.</li>
                </ul>
            </div>
            <div class="text-dark mt-5">
                <h1 class="super-heading">Indemnity</h1>
                <p class=" content text-dark">You agree to indemnify, defend, and hold harmless [Dating App Name], its affiliates, and their respective officers, directors, employees, and agents from and against any claims, liabilities, damages, losses, and expenses, including reasonable attorneys' fees, arising out of or in any way connected with your access to or use of the Service, your User Content, or your violation of these Terms.</p>
            </div>
            <div class="text-dark mt-5">
                <h1 class="super-heading">Governing Law and Dispute Resolution</h1>
                <p class=" content text-dark">These Terms and any disputes arising out of or related to them or the Service will be governed by and construed in accordance with the laws of India, without giving effect to its conflict of laws principles. Any legal action or proceeding arising under these Terms will be brought exclusively in the federal or state courts located in Telangana, and the parties hereby consent to the personal jurisdiction and venue therein.</p>
            </div>
            <div class="text-dark mt-5">
                <h1 class="super-heading">Changes to These Terms</h1>
                <p class=" content text-dark">We may modify these Terms from time to time. If we make material changes, we will notify you through the Service or by other means, such as email. Your continued use of the Service after such changes indicates your acceptance of the new Terms.</p>
            </div>
            <div class="text-dark mt-5">
                <h1 class="super-heading">Contact us</h1>
                <p class=" content text-dark">If you have any questions about these Terms and Conditions, please contact us at:</p>
                <p class="content text-dark">Company Name<br>1234 Street Address<br>City, State, ZIP Code<br>Email: contact@example.com</p>
            <p>Thank you for using Soulep! We hope you enjoy your experience.</p>
            </div>
        </div>


       
    

        <footer>


            <%- include('../partials/footer'); %>
        </footer>
    </body>
    </html>