<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <div
      class="hero page-inner overlay"
      style="background-image: url('images/hero_bg_1.jpg')"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">Services</h1>
            <h6 class="fs-4 p-0 text-white heading">Our commitment is to turn your vision of a perfect home into reality with unparalleled service and innovative solutions. </h6>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="home">Home</a></li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  Services
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
<!-- services -->
<section class="features-1 bg-light">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-lg-12">
        <h2 class="font-weight-bold text-primary heading">
         Our Services
        </h2>
        <p class="text-start">At Samprapthi, we redefine property dealing with a commitment to excellence and innovation. Specializing in Hyderabad’s real estate market, we offer a range of high-quality properties tailored to your needs. Our top-rated agents provide personalized guidance, while our sustainable living practices ensure environmentally-friendly choices. </p>
      </div>
   
      </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-delay="300">
        <div class="box-feature">
          <span class="flaticon-house"></span>
          <h3 class="mb-3">Our Properties</h3>
          <p>
            Samprapthi offers top-tier properties in Hyderabad, crafted with excellence in mind. As we grow, our commitment to quality will extend to more cities across India.
        
            
          </p>
          <p><a href="about" class="learn-more">Read More</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-delay="500">
        <div class="box-feature">
          <span class="flaticon-building"></span>
          <h3 class="mb-3">Property for Sale</h3>
          <p>
            Explore a wide range of verified properties for sale in Hyderabad. We ensure quality and value in every listing, with plans to<br>extend our offerings<br> nationwide.
          </p>
          <p><a href="properties" class="learn-more">Read More</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-delay="400">
        <div class="box-feature">
          <span class="flaticon-house-3"></span>
          <h3 class="mb-3">Smart Investment Solutions</h3>
          <p>
            Samprapthi offers smart investment solutions tailored to your financial goals.We provide expert guidance<br> and access to high-potential properties.
          </p>
          <p><a href="contact" class="learn-more">Read More</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-delay="600">
        <div class="box-feature">
          <span class="flaticon-house-1"></span>
          <h3 class="mb-3">House for Sale</h3>
          <p>
            Find your perfect house in Hyderabad, whether you're looking for a cozy starter home or a luxurious residence. Our growing portfolio will soon cover more cities.
          </p>
          <p><a href="properties" class="learn-more">Read More</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- layout 2 -->
<section class="features-1 bg-light">
  <div class="container">
    <div class="row mb-5 align-items-center">

   
      </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-delay="300">
        <div class="box-feature">
          <span class="flaticon-building"></span>
          <h3 class="mb-3">Smart Investment Solutions</h3>
          <p>
            Samprapthi offers smart investment solutions tailored to your financial goals. We provide expert guidance and access to high-potential properties, helping you make informed decisions for long-term success.
        
            
          </p>
          <p><a href="about" class="learn-more">Read More</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-delay="500">
        <div class="box-feature">
          <span class="flaticon-house"></span>
          <h3 class="mb-3">Sustainable Living</h3>
          <p>
            We prioritize eco-friendly practices in our developments ensuring sustainable living spaces that promote healthier environment. Samprapthi properties are designed with green features to reduce your carbon footprint.
          </p>
          <p><a href="properties" class="learn-more">Read More</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-delay="400">
        <div class="box-feature">
          <span class="flaticon-house-1"></span>
          <h3 class="mb-3">Comprehensive Support</h3>
          <p>
            From property selection to post-purchase services, Samprapthi offers end-to-end support. Our dedicated team is with you every step of the way, ensuring a smooth and stress-free buying experience.
          </p>
          <p><a href="contact" class="learn-more">Read More</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-delay="600">
        <div class="box-feature">
          <span class="flaticon-house-3"></span>
          <h3 class="mb-3">Innovative Design & Architecture</h3>
          <p>
            Our properties feature cutting-edge designs that blend aesthetics with functionality. At Samprapthi, we work with top architects to create living spaces that are both beautiful and practical.
          </p>
          <p><a href="properties" class="learn-more">Read More</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="../../public/js/bootstrap.bundle.min.js"></script>
<script src="../../public/js/tiny-slider.js"></script>
<script src="../../public/js/aos.js"></script>
<script src="../../public/js/navbar.js"></script>
<script src="../../public/js/counter.js"></script>
<script src="../../public/js/style.js"></script>
        </body>
        </html>